<!--Form-->
<div class="container-fluid">

    <!-- Barra Progresso -->

    <div class="row line-space-30 col-md-offset-2 col-md-8">
        <h2 class="col-md-12 text-center">
            Edi&ccedil;&atilde;o da Sua Conta  <img src="assets/img/logo.png" alt="Logo" class="brand-logo-image" />
        </h2>
    </div>

    <!-- Barra Progresso -->

    <div class="row line-space-70">
        <form id="msform" class="col-md-8 col-md-offset-2">
            <!-- progressbar -->
            <ul id="progressbar">
                <li ng-class="{active: step >= 1}" id="generalData" ng-click="changeStep(1)"><strong>Dados Gerais</strong></li>
                <li ng-class="{active: step >= 2}" id="infos" ng-click="changeStep(2)"><strong>Informa&ccedil;&otilde;es Adicionais</strong></li>
                <li ng-class="{active: step >= 3}" id="bankData" ng-click="changeStep(3)"><strong>Dados Banc&aacute;rios</strong></li>
                <li ng-class="{active: step >= 4}" id="photo" ng-click="changeStep(4)"><strong>Foto</strong></li>
                <li ng-class="{active: step >= 5}" id="docs" ng-click="changeStep(5)"><strong>Documentos</strong></li>
            </ul>
        </form>
    </div>

    <!--Results-->
    <!--STEP 1: BASIC INFORMATIONS-->

    <form class="col-md-8 col-md-offset-2" role="form" id="form1" name="form1" ng-submit="saveForm1()" novalidate ng-show="step==1">

        <div class="row line-space-10">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error': form1.name.$error.required && (form1.name.$dirty || form1.$submitted)}">
                    <label class="control-label">*Nome Completo</label>
                    <input type="text" id="name" name="name" autocomplete="new-password" class="form-control" ng-model="client.name" maxLength="100" required />
                    <!--<div ng-messages="form1.name.$error" class="error-message" role="alert" ng-show="form1.name.$error && (form1.nome.$dirty || form1.$submitted)">
                        <div ng-message="required">{{validationMessages.required}}</div>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="row line-space-10">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': form1.username.$error.required && (form1.username.$dirty || form1.$submitted)}">
                    <label class="control-label">*CPF/CNPJ (Login)</label>
                    <input name="username" id="username" class="form-control" ng-model="client.username" required ng-change="usernameFormater()" />
                    <!--<div ng-messages="form1.username.$error" class="error-message" role="alert" ng-show="form1.username.$error && (form1.username.$dirty || form1.$submitted)">
                        <div ng-message="required">{{validationMessages.required}}</div>
                        <div ng-message="invalid">{{validationMessages.invalid}}</div>
                    </div>-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Como Gostaria de Ser Chamado?</label>
                    <input type="text" id="nickName" name="nickName" autocomplete="new-password" class="form-control" ng-model="client.nickName" maxLength="50" />
                </div>
            </div>
        </div>

        <div class="row line-space-10">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': form1.email.$error.required && (form1.email.$dirty || form1.$submitted)}">
                    <label class="control-label">*Endere&ccedil;o Eletr&ocirc;nico (E-mail)</label>
                    <input type="text" id="email" name="email" autocomplete="new-password" class="form-control" ng-model="client.email" maxLength="100" required />
                    <!--<div ng-messages="form1.email.$error" class="error-message" role="alert" ng-show="form1.email.$error && (form1.email.$dirty || form1.$submitted)">
                        <div ng-message="required">{{validationMessages.required}}</div>
                    </div>-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Sexo</label>
                    <select name="sexo" id="sexo" class="form-control" ng-model="client.gender"
                            ng-options="item.parameter as item.name for item in genderTypes">
                        <option value="">---Selecione---</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- TELEPHONE INFORMATIONS-->
        <div class="row line-space-10">
            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': form1.newTelefoneType.$error.required && (form1.newTelefoneType.$dirty || form1.$submitted)}">
                    <label class="control-label">Tipo Telefone</label>
                    <select name="newTelefoneType" id="newTelefoneType" class="form-control" ng-model="newTelephone.telephoneType"
                            ng-options="item.name for item in telephoneTypes">
                        <option value="">---Selecione---</option>
                    </select>
                    <div ng-messages="form1.newTelefoneType.$error" class="error-message" role="alert" ng-show="newTelephoneErrors.typeRequired">
                        <div ng-message="required">{{validationMessages.required}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': form1.newTelephoneNumber.$error.required && (form1.newTelephoneNumber.$dirty || form1.$submitted)}">
                    <label class="control-label">Telefone</label>
                    <input class="form-control" type="text" id="newTelephoneNumero" name="newTelephoneNumero" autocomplete="new-password" ng-model="newTelephone.number" ui-mask="(99) 9999-9999?9" />
                    <div ng-messages="form1.newTelephoneNumber.$error" class="error-message" role="alert" ng-show="newTelephoneErrors.numberRequired">
                        <div ng-message="required">{{validationMessages.required}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Nome Contato (Opcional)</label>
                    <input class="form-control" type="text" id="newTelephoneContactName" name="newTelephoneContactName" autocomplete="new-password" ng-model="newTelephone.contactName" maxLength="100" />
                </div>
            </div>
            <div class="col-md-1 line-space-20">
                <div class="form-group">
                    <button type="button" class="btn btn-primary line-space-5 column-space" ng-click="addPhone()" uib-tooltip="Adicionar" ng-show="!viewMode">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <div ng-show="client.telephones.length <= 0" class="row">
            <div class=" col-md-offset-1 col-md-5">
                <h5 class="error-message" role="alert" ng-show="(form1.newTelephoneNumber.$dirty || form1.newTelephoneType.$dirty || form1.$submitted)">Necess&aacute;rio um Telefone</h5>
                <h5 ng-show="!form1.newTelephoneNumero.$dirty && !form1.newTelefoneType.$dirty">Nenhum Telefone Adicionado</h5>
            </div>
        </div>
        <div class="row" ng-show="client.telephones.length > 0">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="120px"></th>
                        <th width="150px">N&uacute;mero</th>
                        <th width="150px">Tipo</th>
                        <th>Contato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="telephone in client.telephones track by $index">
                        <td>
                            <button type="button" class="btn btn-sm btn-warning" uib-tooltip="Editar" ng-click="editPhone(telephone, $index)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger column-space" uib-tooltip="Excluir" ng-click="client.telephones.splice($index, 1)">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                        <td>{{telephone.number}}</td>
                        <td class="uppercase-mask">{{telephone.telephoneTypeObj.name}}</td>
                        <td class="uppercase-mask">{{telephone.contactName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row line-space-20">
            <div class="col-md-12 text-center">
                <div ng-if="!submited">
                    <button type="button" class="btn btn-default" ng-click="back()"><i class="fas fa-arrow-left"></i> Voltar</button>
                    <button type="submit" class="btn btn-default">
                        Avan&ccedil;ar  <span class="fas fa-arrow-right"></span>
                    </button>
                </div>
                <div class="lds-roller-sm" ng-if="submited" ng-bind-html="showLoading()"></div>
            </div>
        </div>

    </form>

    <!-- STEP 2 Aditional Informations-->

    <form class="col-md-8 col-md-offset-2" role="form" name="form2" ng-submit="saveForm2()" novalidate ng-show="step==2">

        <div class="row line-space-10">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': form2.typeNoteIssued.$error.required && (form2.typeNoteIssued.$dirty || form2.$submitted)}">
                    <label class="control-label">Tipo de Nota Emitida</label>
                    <select name="typeNoteIssued" id="typeNoteIssued" class="form-control" ng-model="client.TypeNoteEmited"
                            ng-options="item.parameter as item.name for item in noteTypes">
                        <option value="">---Selecione---</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': form2.annualBilling.$error.required && (form2.annualBilling.$dirty || form2.$submitted)}">
                    <label class="control-label">Faturamento Anual</label>
                    <select name="annualBilling" id="annualBilling" class="form-control" ng-model="client.annualBilling"
                            ng-options="item.parameter as item.name for item in annualBillingTypes">
                        <option value="">---Selecione---</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row line-space-10">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error': form2.companyNature.$error.required && (form2.companyNature.$dirty || form2.$submitted)}">
                    <label class="control-label">Natureza da Empresa</label>
                    <select name="typeNoteIssued" id="typeNoteIssued" class="form-control" ng-model="client.CompanyNatureType"
                            ng-options="item.parameter as item.name for item in companyNatureTypes">
                        <option value="">---Selecione---</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row line-space-10">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': form2.dateContact.$error.required && (form2.dateContact.$dirty || form2.$submitted)}">
                    <label class="control-label">Melhores Dias para Contato</label>
                    <div ng-dropdown-multiselect options="daysList" ng-model="daysSelecteds" selected-model="daysSelecteds" class="multiselect-full-width uppercase-mask" id="weeksSelecteds" name="daysSelecteds"
                         extra-settings="dropdownSettings" translation-texts="dropdownDayTextsStatus" events="dropdownEvents">
                    </div>
                    <!--<select name="dateContact" id="dateContact" class="form-control" ng-model="datesContact"
                            ng-options="item.parameter as item.name for item in days">
                        <option value="">---Selecione---</option>
                    </select>-->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': form2.timeContact.$error.required && (form2.timeContact.$dirty || form2.$submitted)}">
                    <label class="control-label">Melhores Hor&aacute;rios para Contato</label>
                    <div ng-dropdown-multiselect options="timesList" ng-model="timesSelecteds" selected-model="timesSelecteds" class="multiselect-full-width uppercase-mask" id="weeksSelecteds" name="timesSelecteds"
                         extra-settings="dropdownSettings" translation-texts="dropdownTimeTextsStatus" events="dropdownEvents">
                    </div>
                    <!--<select name="timeContact" id="timeContact" class="form-control" ng-model="client.timesContact"
                            ng-options="item.parameter as item.name for item in times">
                        <option value="">---Selecione---</option>
                    </select>-->
                </div>
            </div>
        </div>

        <div class="row line-space-20">
            <div class="col-md-12 text-center">
                <div ng-if="!submited">
                    <button type="button" class="btn btn-default" ng-click="back()"><i class="fas fa-arrow-left"></i> Voltar</button>
                    <button type="submit" class="btn btn-default">
                        Avan&ccedil;ar  <span class="fas fa-arrow-right"></span>
                    </button>
                </div>
                <div class="lds-roller-sm" ng-if="submited" ng-bind-html="showLoading()"></div>
            </div>
        </div>

    </form>
</div>


<!--STEP 3: Bank-->

<form class="col-md-6 col-md-offset-3" role="form" name="form3" ng-submit="saveForm3()" novalidate ng-show="step==3">

    <div class="row line-space-10">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group" ng-class="{'has-error': form3.newBank.$error.required && (form3.newBank.$dirty || form3.$submitted)}">
                <label class="control-label">Banco</label>
                <input class="form-control" type="text" name="newBank" id="newBank" ng-model="newBank.bank" />
                <div ng-messages="form3.newBank.$error" class="error-message" role="alert" ng-show="newBankErrors.newBankRequired">
                    <div ng-message="required">{{validationMessages.required}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row line-space-10">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group" ng-class="{'has-error': form3.newBankAgency.$error.required && (form3.newBankAgency.$dirty || form3.$submitted)}">
                <label class="control-label">Ag&ecirc;ncia</label>
                <input class="form-control" type="text" id="newBankAgency" name="newBankAgency" autocomplete="new-password" ng-model="newBank.agency" />
                <div ng-messages="form3.newBankAgency.$error" class="error-message" role="alert" ng-show="newBankErrors.agencyRequired">
                    <div ng-message="required">{{validationMessages.required}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row line-space-10">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group" ng-class="{'has-error': form3.newBankAccount.$error.required && (form3.newBankAccount.$dirty || form3.$submitted)}">
                <label class="control-label">Conta Banc&aacute;ria</label>
                <input class="form-control" type="text" id="newBankAccount" name="newBankAccount" autocomplete="new-password" ng-model="newBank.account" />
                <div ng-messages="form3.newBankAccount.$error" class="error-message" role="alert" ng-show="newBankErrors.accountRequired">
                    <div ng-message="required">{{validationMessages.required}}</div>
                </div>
            </div>
        </div>

        <div class="col-md-1 line-space-20">
            <div class="form-group">
                <button type="button" class="btn btn-primary line-space-5 column-space" ng-click="addBank()" uib-tooltip="Adicionar" ng-show="!viewMode">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div ng-show="client.banks.length <= 0" class="row">
        <div class="text-center">
            <h5 class="error-message" role="alert" ng-show="(form3.newTelephoneNumber.$dirty || form3.newTelephoneType.$dirty || form3.$submitted)">Necess&aacute;rio um Telefone</h5>
            <h5 ng-show="!form3.newTelephoneNumero.$dirty && !form3.newTelefoneType.$dirty">Nenhum Banco Adicionado</h5>
        </div>
    </div>

    <div class="row" ng-show="client.banks.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="120px"></th>
                    <th>Banco</th>
                    <th>Ag&ecirc;ncia</th>
                    <th>Conta</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bank in client.banks track by $index">
                    <td>
                        <button type="button" class="btn btn-sm btn-warning" uib-tooltip="Editar" ng-click="editBank(bank, $index)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger column-space" uib-tooltip="Excluir" ng-click="client.banks.splice($index, 1)">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                    <td>{{bank.bank}}
                    <td class="uppercase-mask">{{bank.agency}}</td>
                    <td class="uppercase-mask">{{bank.account}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <div ng-if="!submited">
                <button type="button" class="btn btn-default" ng-click="back()"><i class="fas fa-arrow-left"></i> Voltar</button>
                <button type="button" ng-click="next()" class="btn btn-default">
                    Avan&ccedil;ar  <span class="fas fa-arrow-right"></span>
                </button>
            </div>
            <div class="lds-roller-sm" ng-if="submited" ng-bind-html="showLoading()"></div>
        </div>
    </div>

</form>

<!--Step 4 -> Photo-->

<form class="col-md-8 col-md-offset-2" role="form" name="form5" ng-submit="saveForm4()" novalidate ng-show="step==4">

    <!--<div class="lds-roller-sm text-center" ng-show="loadPhoto" ng-bind-html="showLoading()"></div>-->

    <div ng-show="!loadPhoto">
        <div class="line-space-10">
            <div class="col-md-12 text-center">
                <div ng-if="hasPhoto">
                    <img ng-if="!newPhoto" ng-src="{{conteudoArquivoFotoPerfil}}" alt="Foto" class="img-photo finalUserPhoto" />
                    <img ng-if="newPhoto" ng-src="{{conteudoArquivoFoto}}" alt="Foto" class="img-photo finalUserPhoto" />
                </div>
                <img src="assets/img/no_photo.png" alt="Foto" class="img-circle user-final-photo" ng-if="!hasPhoto" />
            </div>
        </div>

        <div class="row line-space-20">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn btn-primary column-space" ng-click="openModalImage()"><i class="fas fa-camera-retro"></i> Incluir/Alterar Foto</button>
                <button type="button" class="btn btn btn-danger" ng-click="deletePhoto()" ng-if="hasPhoto">
                    <i class="fas fa-times"></i> Excluir Foto
                </button>
            </div>
        </div>
    </div>

    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <div ng-if="!submited">
                <button type="button" class="btn btn-default" ng-click="back()"><i class="fas fa-arrow-left"></i> Voltar</button>
                <button type="button" ng-click="next()" class="btn btn-default">
                    Avan&ccedil;ar  <span class="fas fa-arrow-right"></span>
                </button>
            </div>
            <div class="lds-roller-sm" ng-if="submited" ng-bind-html="showLoading()"></div>
        </div>
    </div>

</form>

<!--STEP 5: Dosc-->

<form class="col-md-6 col-md-offset-3" role="form" name="form3" ng-submit="saveForm5()" novalidate ng-show="step==5">

    <div class="row line-space-10 text-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label class="control-label">Escolha seus documentos(.jpeg.jpg.png.pdf):</label>
                <input type="file" id="fileInput" name="fileInput" class="form-control" file-input file-model="fileUpload.fileList"
                       show-Drag-Drop="false" show-Preview="true" accept='image/*' show-Remove="true" allowed-File-Extensions="['jpg','png','jpeg','pdf']" multiple />
            </div>
        </div>
    </div>

    <div class="row line-space-30" ng-show="client.listDocumentsBase64.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="120px"></th>
                    <th>Nome Documento</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in client.listDocumentsBase64 track by $index">
                    <td>
                        <button type="button" class="btn btn-sm btn-danger column-space" uib-tooltip="Excluir" ng-click="deleteDoc(doc.fileId, $index)">
                            <i class="fas fa-times"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-success column-space" uib-tooltip="Baixar" ng-click="downloadFile(doc.fileId)">
                            <i class="fas fa-file-download"></i>
                        </button>
                    </td>
                    <td>
                        {{doc.fileName}}
                    </td>
                    <td>
                        <img src="{{doc.fileData}}" alt="doc" class="img-photo finalUserPhoto" id="doc" name="doc" />
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <div ng-if="!submited">
                <button type="button" class="btn btn-default" ng-click="back()"><i class="fas fa-arrow-left"></i> Voltar</button>
                <button type="button" ng-click="next()" class="btn btn-default">
                    Avan&ccedil;ar  <span class="fas fa-arrow-right"></span>
                </button>
            </div>
            <div class="lds-roller-sm" ng-if="submited" ng-bind-html="showLoading()"></div>
        </div>
    </div>

</form>