<!-------------------------------------- Panel (basic frame for all nested views) --------------------------------------------->
<!-------------------------------------------- Navbar (fixed on top) -------------------------------------------->
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!------------ left side ----------->
        <ul class="nav navbar-nav">
            <!----- Menubar ----->
            <li uib-dropdown on-toggle="wasMenubarToggled()">
                <label class="menubar-toggle-button" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-menu-hamburger menu-icon"></span>
                </label>
                <ul class="dropdown-menu menubar navbar-custom" uib-dropdown-menu role="menu" aria-labelledby="menu-button">
                    <li>
                        <h4 class="menubar-label">Menu</h4>
                    </li>
                    <li>
                        <uib-accordion close-others='true'>
                            <div uib-accordion-group panel-class="menubar-accordion" heading="Admin"
                                 is-open="isAccordionOpen" ng-mouseover="isAccordionOpen = true" ng-mouseleave="isAccordionOpen = false">
                                <ul class="nav nav-list menubar-accordion-items">
                                    <li><a href="#/panel/user/management/list">Usu&aacute;rios</a></li>
                                    <li><a href="#/panel/client/list">Clientes</a></li>
                                    <li><a href="#/panel/process/admin/list">Processos</a></li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </li>
                    <li>
                        <uib-accordion close-others='true'>
                            <div uib-accordion-group panel-class="menubar-accordion" heading="Cliente"
                                 is-open="isAccordionOpen2" ng-mouseover="isAccordionOpen2 = true" ng-mouseleave="isAccordionOpen2 = false">
                                <ul class="nav nav-list menubar-accordion-items">
                                    <li><a href="">Meus Dados</a></li>
                                    <li><a href="#/panel/process/client/list">Processos</a></li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </li>
                </ul>
            </li>
            <!----- Brand ----->
        </ul>
        <!------------ right side ----------->
        <ul class="nav navbar-nav navbar-right">
            <!----- Profilebar ----->
            <li class="dropdown">
                <div class="dropdown-toggle profilebar-toggle-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!--<img ng-src="data:{{session.photo.mimeType}};base64,{{session.photo.imageData}}" alt="Foto" class="img-circle user-profilebar-photo" ng-if="hasPhoto" />
    <img src="assets/img/no_photo.png" alt="Foto" class="img-circle user-profilebar-photo" ng-if="!hasPhoto" />-->
                    <!--<label class="user-profilebar-button-label">{{session.nickname}}</label>-->
                    <label class="user-profilebar-button-label line-space-10">Olá, Gabriel</label>
                    <label class="user-profilebar-button-label"><span class="glyphicon glyphicon-menu-down"></span></label>
                </div>
                <ul class="dropdown-menu profilebar navbar-custom">
                    <li class="btn profilebar-item" ng-click="editUser()"><span class="glyphicon glyphicon-user"></span> Meus Dados</li>
                    <li class="btn profilebar-item" ng-click="changePassword()"><span class="glyphicon glyphicon-lock"></span> Alterar Senha</li>
                    <li role="separator" class="divider"></li>
                    <li class="btn profilebar-item" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Sair</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--------------------------------------------------------------------------------------------------------------->
<!------------------------------------- Container for the nested views------------------------------------------->
<div class="container-fluid content-box">
    <div class="row">
        <div ng-class="{'scale-down col-md-10 col-md-offset-2': isMenuOpen, 'col-md-12': !isMenuOpen}">
            <!--Nested views-->
            <div ui-view></div>
        </div>
    </div>
</div>