<div class="modal-header ng-scope">
    <h3 class="modal-title">Esqueci a Senha</h3>
</div>
<form role="form" novalidate angular-validator angular-validator-submit="send()" name="forgotPassForm">
    <div class="modal-body ng-scope">
        <div class="row">
            <div class="col-md-12">
                <h5>Por favor, informe seu e-mail de cadastro para receber um link de recupera&ccedil;&atilde;o de senha.</h5>
            </div>
        </div>
        <div class="row line-space-10">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input type="email" name="email" class="form-control" ng-model="email" maxLength="100"
                           validate-on="submit" required required-message="'Obrigatório'" invalid-message="'Formato inválido'" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer ng-scope">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                <button type="submit" class="btn btn-primary column-space">Enviar</button>
            </div>
        </div>
    </div>
</form>