<div class="container">
    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <h3 class="control-label">Processos</h3>
        </div>
    </div>
    <!--Filter-->
    <div class="row line-space-10">
        <div class="col-md-8 col-md-offset-2">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group class="panel-default" is-open="isFilterOpen">
                    <uib-accordion-heading>
                        <b>Filtro</b><i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-chevron-right': !isFilterOpen, 'glyphicon glyphicon-chevron-down': isFilterOpen}"></i>
                    </uib-accordion-heading>
                    <form role="form" novalidate angular-validator angular-validator-submit="newSearch()" name="filterForm">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Protocolo</label>
                                    <input type="text" id="protocolNumber" name="protocolNumber" class="form-control" ng-model="filter.protocolNumber" maxLength="9" ng-change="search()"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Situa&ccedil;&atilde;o</label>
                                    <select id="profile" name="profile" class="form-control" ng-model="filter.status" ng-change="search()"
                                            ng-options="item for item in processStatus">
                                        <option value="">---Todos---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label head-label">Data</label>
                                    <p class="input-group">
                                        <input type="text" name="date" id="date" class="form-control" ng-model="filter.date"
                                               uib-datepicker-popup="ddMMyyyy" is-open="datePicker.opened" current-text="Hoje" clear-text="Limpar"
                                               close-text="Fechar" ui-mask="99/99/9999" ng-change="search()"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="datePickerOpen()">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default line-space-25">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Pesquisar
                                </button>
                            </div>
                        </div>
                    </form>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <!--New Item Button-->
    <div class="row line-space-10">
        <div class="col-md-8 col-md-offset-2">
            <button type="button" class="btn btn-success" ng-click="edit(0)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Processo
            </button>
        </div>
    </div>
    <!--Results-->
    <div ng-switch on="processes == null || processes.length <= 0">
        <!--"No Results Found" message-->
        <div ng-switch-when="true">
            <div class="row line-space-20">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4>Nenhum resultado encontrado</h4>
                </div>
            </div>
        </div>
        <!--Result listing-->
        <div ng-switch-when="false">
            <div class="row line-space-20">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="150px"></th>
                                <th>Protocolo</th>
                                <th>Situa&ccedil;&atilde;o</th>
                                <th>Data Solicita&ccedil;&atilde;o</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="process in processes track by $index">
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning column-space" uib-tooltip="Visualizar" ng-click="detail(client.id)">
                                        <i class="fas fa-search-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default column-space" uib-tooltip="Editar" ng-click="edit(process.id)" ng-if="process.id == 3">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>{{process.protocolNumber}}</td>
                                <td ng-show="process.id == 1" bgcolor="#00FF00">{{process.situation.name}}</td>
                                <td ng-show="process.id == 2" bgcolor="YELLOW">{{process.situation.name}}</td>
                                <td ng-show="process.id == 3" bgcolor="#FF4500">{{process.situation.name}}</td>
                                <td ng-show="process.id == 4" bgcolor="#B22222">{{process.situation.name}}</td>
                                <td>{{process.date | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Pagination controllers-->
            <div class="row line-space-10">
                <div class="col-md-12 text-center">
                    <div class="pagination-sm" uib-pagination ng-model="filter.pageNumber" ng-change="search()" boundary-links="true"
                         total-items="paginationResponse.totalResults" items-per-page="paginationResponse.resultsPerPage"
                         first-text="Primeira" last-text="Última" next-text="Próxima" previous-text="Anterior"
                         max-size="maxVisiblePages" force-ellipses="true">
                    </div>
                </div>
            </div>
        </div>

        <!--Form Buttons-->
        <div class="row line-space-20">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-default" ng-click="back()">Voltar</button>
            </div>
        </div>

    </div>
</div>