<div class="container">
    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <h2 class="control-label">Detalhes da Solicita&ccedil;&atilde;o</h2>
        </div>
    </div>
    <hr />
    <div class="row line-space-20">
        <div class="col-md-4 col-md-offset-2">
            <div class="block-title">
                <h2> <i class="fas fa-code"></i> N&uacute;mero Protocolo: <b>{{solicitation.protocol}}</b></h2>
            </div>
            <hr />

        </div>
        <div class="col-md-4">
            <div class="block-title">
                <h2><i class="fas fa-clock"></i> Data Solicita&ccedil;&atilde;o <b>{{solicitation.creationDate | date:'dd/MM/yyyy - HH:mm'}}</b>  </h2>
            </div>
            <hr />
        </div>

    </div>

    <div class="row line-space-20">

    </div>

    <div class="row line-space-20">
        <div class="col-md-8 col-md-offset-2">
            <div class="block-title">
                <h2><i class="fas fa-clipboard-list"></i> Lista de Produtos Solicitados </h2>
            </div>
            <hr />
        </div>
    </div>
    <form role="form" novalidate angular-validator angular-validator-submit="edit()" name="editForm">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="50px"></th>
                        <th>T&iacute;tulo</th>
                        <th>Produto</th>
                        <th>Status</th>
                        <th>CNPJ Fonte Pagadora</th>
                        <th>Documentos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in solicitation.productsList track by $index">
                        <td>
                            <button type="button" class="btn btn-sm btn-warning column-space" uib-tooltip="Editar" ng-click="edit(product)" ng-disabled="product.status != 2">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <td>{{product.title}}</td>
                        <td>{{product.productName}}</td>
                        <td ng-if="product.status == 1" bgcolor="YELLOW">{{product.statusName}}</td>
                        <td ng-if="product.status == 2" bgcolor="#FF4500"><i class="fas fa-eye" uib-tooltip="{{product.suggestion}}"></i> {{product.statusName}}</td>
                        <td ng-if="product.status == 3" bgcolor="#00FF00">{{product.statusName}}</td>
                        <td ng-if="product.status == 4" bgcolor="#B22222">{{product.statusName}}</td>
                        <td>{{product.cnpjPayingSource}}</td>
                        <td><a>Visualizar Anexos</a></td>
                    </tr>
                </tbody>
            </table>

            <!--Form Buttons-->
            <div class="row line-space-20">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-default" ng-click="back()">Cancelar</button>

                </div>
            </div>
        </div>

    </form>
</div>