<div class="container">
    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <h2 class="control-label">Detalhes do Cliente</h2>
        </div>
    </div>
    <hr />
    <form role="form" novalidate angular-validator angular-validator-submit="edit()" name="editForm">
        <div class="col-md-12">

            <div class="col-md-12 line-space-30">
                <h3 class="text-center"><i class="fas fa-user-circle"></i>   Dados Gerais</h3>
                <hr />
            </div>


            <div class="row line-space-10">
                <div class="col-md-4">
                    <h4 class="form-group">
                        <label class="control-label">Nome:</label> {{user.name}}
                    </h4>
                </div>
                <div class="col-md-4">
                    <h4 class="form-group">
                        <label class="control-label">Como Gostaria de ser Chamado:</label> {{user.nickname}}
                    </h4>
                </div>
                <div class="col-md-4">
                    <h4 class="form-group">
                        <label class="control-label">Sexo:</label> {{client.genderName}}
                    </h4>
                </div>
            </div>

            <div class="row line-space-10">
                <div class="col-md-4">
                    <h4 class="form-group">
                        <label class="control-label">E-mail:</label> {{user.email}}
                    </h4>
                </div>
                <div class="col-md-4">
                    <h4 class="form-group">
                        <label class="control-label">CPF/CNPJ:</label> {{user.username}}
                    </h4>
                </div>
                <div class="col-md-4">
                    <h4 class="form-group">
                        <label class="control-label">CNPJ Fonte Pagadora:</label> {{client.cnpjPayingSource}}
                    </h4>
                </div>
            </div>

            <div class="col-md-12 line-space-30">
                <h3 class="text-center"><i class="fas fa-mobile"></i>   Contato</h3>
                <hr />
            </div>

            <div class="row" ng-show="client.listTelephones.length <= 0">
                <div class="col-md-12 text-center">
                    <h4>Nenhum telefone adicionado</h4>
                </div>
            </div>

            <div class="row" ng-show="client.listTelephones.length > 0">

                <div class="row" ng-show="client.listTelephones.length > 0">
                    <div class="col-md-6 col-md-offset-3">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>N&uacute;mero</th>
                                    <th>Tipo</th>
                                    <th>Nome Contato</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tel in client.listTelephones track by $index">
                                    <td>{{tel.number}}
                                    <td class="uppercase-mask">{{tel.telephoneTypeName}}</td>
                                    <td class="uppercase-mask">{{tel.contactName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-12 line-space-30">
                <h3 class="text-center"><i class="fas fa-university"></i>   Melhores Dias/Horarios para Contato</h3>
                <hr />
            </div>

            <div class="row">

                <div class="col-md-4 col-md-offset-2">
                    <div class="row" ng-show="client.listContactDay == null || client.listContactDay.length <= 0">
                        <div class="col-md-12 text-center">
                            <h4>Nenhum Dia Adicionado</h4>
                        </div>
                    </div>

                    <div class="row" ng-show="client.listContactDay.length > 0">

                        <div class="row" ng-show="client.listContactDay.length > 0">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Dias da semana</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="day in client.listContactDay track by $index">
                                        <td class="text-center">{{day.contactDayName}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row" ng-show="client.listContactTime == null || client.listContactTime.length <= 0">
                        <div class="col-md-12 text-center">
                            <h4>Nenhum Hor&aacute;rio Adicionado</h4>
                        </div>
                    </div>

                    <div class="row" ng-show="client.listContactTime.length > 0">

                        <div class="row" ng-show="client.listContactTime.length > 0">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Hor&aacute;rio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="time in client.listContactTime track by $index">
                                        <td class="text-center">{{time.contactTimeName}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 line-space-30">
                <h3 class="text-center"><i class="fas fa-info-circle"></i>   Informa&ccedil;&otilde;es Adicionais</h3>
                <hr />
            </div>

            <div class="row line-space-10">
                <div class="col-md-6">
                    <h4 class="form-group">
                        <label class="control-label">Tipo Nota Emitida:</label> {{client.typeNoteEmitedName}}
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4 class="form-group">
                        <label class="control-label">Faturamento Anual:</label> {{client.annualBillingName}}
                    </h4>
                </div>

            </div>

            <div class="row line-space-10">
                <div class="col-md-6">
                    <h4 class="form-group">
                        <label class="control-label">Natureza da Empresa:</label> {{client.natureBackgroundName}}
                    </h4>
                </div>
            </div>

            <div class="col-md-12 line-space-30">
                <h3 class="text-center"><i class="fas fa-university"></i>   Bancos</h3>
                <hr />
            </div>


            <div class="row" ng-show="client.listBanks == null || client.listBanks.length <= 0">
                <div class="col-md-12 text-center">
                    <h4>Nenhum banco adicionado</h4>
                </div>
            </div>

            <div class="row" ng-show="client.listBanks.length > 0">

                <div class="row" ng-show="client.listBanks.length > 0">
                    <div class="col-md-6 col-md-offset-3">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Banco</th>
                                    <th>Ag&ecirc;ncia</th>
                                    <th>Conta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bank in client.listBanks track by $index">
                                    <td>{{bank.bank}}
                                    <td class="uppercase-mask">{{bank.agency}}</td>
                                    <td class="uppercase-mask">{{bank.account}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 line-space-30">
                <h3 class="text-center">
                    <i class="fas fa-id-card"></i>   Documentos
                </h3>
                <hr />
            </div>

            <div class="row" ng-show="client.listDocuments == null || client.listDocuments.length <= 0">
                <div class="col-md-12 text-center">
                    <h4>Nenhum documento adicionado</h4>
                </div>
            </div>

            <div class="row" ng-show="client.listDocuments.length > 0">

                <div class="row" ng-show="client.listDocuments.length > 0">
                    <div class="col-md-6 col-md-offset-3">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Banco</th>
                                    <th>Ag&ecirc;ncia</th>
                                    <th>Conta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bank in client.listDocuments track by $index">
                                    <td>{{bank.bank}}
                                    <td class="uppercase-mask">{{bank.agency}}</td>
                                    <td class="uppercase-mask">{{bank.account}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>




        <!--Form Buttons-->
        <div class="row line-space-20">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-default" ng-click="back()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
