<div class="container-fluid">
    <div class="row line-space-20 col-md-offset-2 col-md-8">
        <h2 class="col-md-12 text-center">
            Cria&ccedil;&atilde;o da Sua Conta  <img src="assets/img/logo.png" alt="Logo" class="brand-logo-image" />
        </h2>
    </div>
    <hr />
    <form role="form" class="col-md-6 col-md-offset-3" novalidate angular-validator angular-validator-submit="save()" name="editForm">
        <div class="row line-space-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">*E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="newUser.email" ng-disabled="true"
                           validate-on="submit" invalid-message="'Formato inválido'" required required-message="'Obrigatório'" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">*CPF(login)</label>
                    <input type="text" id="cpf" name="cpf" class="form-control" ng-model="newUser.username" ui-mask="999.999.999-99" maxLength="14"
                           validate-on="submit" required required-message="'Obrigatório'" invalid-message="'Formato Inválido'" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">*Nome Completo</label>
                    <input type="text" id="name" name="name" class="form-control" ng-model="newUser.name" maxLength="100"
                           validate-on="submit" required required-message="'Obrigatório'" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">*Como gostaria de ser chamado?</label>
                    <input type="text" id="nickname" name="nickname" class="form-control" ng-model="newUser.nickname" maxLength="25"
                           validate-on="submit" required required-message="'Obrigatório'" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">*Senha</label>
                    <input type="password" id="name" name="name" class="form-control" ng-model="newUser.password" maxLength="100"
                           validate-on="submit" required required-message="'Obrigatório'" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">*Confirmação Senha</label>
                    <input type="password" id="name" name="name" class="form-control" ng-model="newUser.passwordConfirmation" maxLength="100"
                           validate-on="submit" required required-message="'Obrigatório'" />
                </div>
            </div>
        </div>
        <!--Photo area-->
        <div class="row line-space-20">
            <!--Left side-->
            <!--Right side-->
            <div class="col-md-12 text-center">
                <div class="line-space-30">
                    <label class="control-label">Visualização Final da Foto (300x300)</label>
                </div>
                <div class="line-space-10">
                    <div><img ng-src="data:{{newUser.photo.mimeType}};base64,{{newUser.photo.imageData}}" alt="Foto" class="img-circle user-final-photo" ng-if="hasPhoto" /></div>
                    <img src="assets/img/no_photo.png" alt="Foto" class="img-circle user-final-photo" ng-if="!hasPhoto" />
                </div>
                <div class="line-space-10" ng-if="newUser.photo">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="deletePhoto()">
                        <span class="glyphicon glyphicon-remove"></span> Excluir Foto
                    </button>
                </div>
            </div>
        </div>

        <div class="row line-space-30">
            <div class="col-md-6 col-md-offset-3 text-center">
                <input type="file" class="text-center" id="fileInput" name="fileInput" />
            </div>
        </div>

        <!--Form Buttons-->
        <div class="row line-space-20">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-default" ng-click="back()">Cancelar</button>
                <button type="submit" class="btn btn-primary column-space">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                </button>
            </div>
        </div>
    </form>
</div>
