<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Bem-Vindo ao Neomex Hospitalar, <u><span>Gabriel!</span></u></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row line-space-20">
        <div class="col-md-12 text-center">
            <ul class="nav navbar-nav display-inline">
                <li class="column-space line-space-10">
                    <tile-button icon="fas fa-user-circle" description="Meus Dados" ng-click="sendNextPage(1)" />
                </li>
                <li class="column-space line-space-10">
                    <tile-button icon="fas fa-clipboard-list" description="Minhas Solicitações" ng-click="sendNextPage(2)" />
                </li>
                <li class="column-space line-space-10">
                    <tile-button icon="fas fa-users" description="Clientes" ng-click="sendNextPage(3)" />
                </li>
                <li class="column-space line-space-10">
                    <tile-button icon="fas fa-laptop" description="Usuários do Sistema" ng-click="sendNextPage(4)" />
                </li>
                <li class="column-space line-space-10">
                    <tile-button icon="fas fa-clipboard-list" description="Solicitações" ng-click="sendNextPage(2)" />
                </li>
            </ul>
        </div>
    </div>

</div>

